/*logo*/


.logo-link{
    margin-right: 85px;
    padding-top: 19px;
    padding-bottom: 25px;
}

.first-part-of-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.47;
    color: $accent-color;
    letter-spacing: 0.03em;
    
}
.second-part-of-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.47px;
    color: black;
    letter-spacing: 0.03em;   
}


.header{
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #ECECEC;


    a{
        text-decoration: none;
    }    
    @media screen and (min-width: 1200px) {
    height: 80px;
    }
    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .flex-container{
        @media screen and (min-width:1200px){
        display: inline-flex;
        align-content: baseline;
        }

     }
}


@media screen and (max-width:767px){
    .header{
        
        position: relative;
    .wrapper-header{
    position: absolute;
    top: 100%;
    width: 100%;
    left:0;
    height: 393px;
    background-color: white;
    display: none;
    border-top:  1px solid #ECECEC;
    z-index: 3;
    

    &.is-open{
        display: block;
    }
}
}}


@media screen and (max-width:767px){
.mobile-btn{
    background: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;

    &:hover
    &:focus{
        fill: $accent-color;
    }

}}

@media screen and (max-width:767px){
.mobile-container{
    display: flex;
    justify-content: space-between;
}

.mobile-btn .mobile-menu{
    display: none;
}

.mobile-btn.is-open .mobile-menu{
    display: block;
}

.mobile-btn.is-open .mobile-close{
    display: none;
}}

/*header without logo*/


.navigation-pannel{
    
@media screen and (max-width:767px){
    text-align: center;
}

    @media screen and (min-width: 1200px){
    display: inline-flex;
 }
 
 }


 .navigation-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
 }
 
.portfolio-header{
    border-bottom:  1px solid #ECECEC;
}


 .navigation-items{
    @media screen and (min-width: 1200px){
     & :not(:last-child){
    margin-right: 50px;
    
}
}  
    .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (max-width:767px){
        display: inline;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
 }



.navigation {

    @media screen and (max-width:767px) {
        &:not(:last-child){
        margin-bottom: 40px;
        }
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .link:hover,
    .link:focus{
    color: $accent-color;
    transition: $transition;}

 .current{
    position: relative;
    color: $accent-color;


    &::after {
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color:$accent-color;
        border-radius: 2px;
        content: "";
        margin-bottom: 0;
        margin-top: 30px;
        @media screen and (max-width:767px){
            left: 0;
            margin-top: 8px;

        }
        
    }
    
    }
}


.navigation-items{
    @media screen and (min-width: 1200px){
    display: flex;}

    a {
        color:$header-color;
    }
}



.contact-info{
    @media screen and (max-width:767px){
        display: flex;
        flex-direction: column;
        align-items: center;

        
    }

    @media screen and (min-width: 1200px){
    padding-left: 305px;}

    a{
        color:$subheader-color;
        @media screen and (max-width:767px){
        &:not(:last-child){
            margin-bottom: 16px;
        }
    }
    }

    .contact{
        @media screen and (min-width: 1200px){
        margin-right: 30px;  
        padding-top: 32px;
        padding-bottom: 32px; 
        
        &:last-child{
            margin-right: 0px;
        }
    } }
}

.header-svg{
    fill: #AFB1B8;
    margin-right: 10px;
}

.contact-info :hover,
.contact-info :focus{ 
    color: $accent-color;
    transition: $transition;

    .header-svg,
    .header-svg{
    fill: $accent-color;
    transition: $transition;
}
}

 
