/*hero section*/

.hero-section{
height: 400px;   
background-image:linear-gradient(rgba(47, 48, 58, 0.8),rgba(47, 48, 58, 0.8)), url('../images/hero-section-pic/hero.jpg');
background-color: blue;

    
    @media screen and (min-width:1200px){
    box-sizing: border-box;
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    
}

    .container{
        
        display: flex ;
        flex-direction: column;
        align-items: center;  
        
    }
}



.hero-section-header{ 
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 26px;

    @media screen and (max-width:767px) {
        margin-top: 118px;
    }

@media screen and (min-width:1200px) {
    
    font-size: 44px;
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
}
    
   }



.hero-section-button{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.80;

    background-color: $accent-color;
    color: #fff;
    height: 50px;
    width: 200px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0px;
    border-image: none;
    border-style: none;
    border-color: $accent-color;

    :hover,
    :focus{
    background-color: $accent-color;
    color:#fff ;
    transition: $transition;
}
}