html{
    box-sizing: border-box;

}

*
*::before,
*::after{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}



body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;  
 }

 img{
     display: block;
     max-width: 100%;
     display: block;
 }

