.gallery-items{
    text-decoration: none;
    list-style-type: none;

    display: flex;

    @media screen  and (max-width:767px){
         flex-wrap: wrap;
         justify-content: flex-start;
        
    }
    justify-content: center;
    
    
    padding-top: 93px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
}


.btn-list{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;

    &:hover{
        color: #fff;
        background-color: $accent-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
        transition: $transition;
    }
}

    .gallery-items .button-portfolio:not(:last-child){
        margin-right: 8px;
    }

    @media screen and (max-width:767px){
        .gallery-items .button-portfolio{
        margin-bottom: 21px;
    }}

    